In [27]:
pip install pymongo[srv]

Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.10/dist-packages (4.6.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.6.1)

In [ ]:
#Exercise 1.1 - Import pymongo:

import os
import datetime
import pymongo
import pprint
import pandas as pd

In [ ]:
#Exercise 1.2 - Connect to remote MongoDB instance:

host_name = "localhost"
port = "27017"

atlas_cluster_name = "cluster0.xuibg2h"
atlas_default_dbname = "sakila"
atlas_user_name = "ds2002sp23"
atlas_password = "uva1819"

conn_str = {
    "local" : f"mongodb://{host_name}:{port}/",
    "atlas" : f"mongodb+srv://{atlas_user_name}:{atlas_password}@{atlas_cluster_name}.mongodb.net/{atlas_default_dbname}"
}

client = pymongo.MongoClient(conn_str["atlas"])

print(f"Local Connection String: {conn_str['local']}")
print(f"Atlas Connection String: {conn_str['atlas']}")

Local Connection String: mongodb://localhost:27017/
Atlas Connection String: mongodb+srv://ds2002sp23:uva1819@cluster0.xuibg2h.mongodb.net/sakila

In [ ]:
#Exercise 1.3 - Print a list of databases in MongoDB instance
client.list_database_names()

['AlbertHuang_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anne_class',
 'api_project',
 'blog',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

In [ ]:
#Exercise 2.1 - Create a database called <yourname>_class

db_name = "KevinZhang_class"

db = client[db_name]

In [18]:
#Exercise 2.2 - Print a list of collections in the database
db.list_collection_names() #List is empty right now with no collections

['students']

In [19]:
#Exercise 3.1, 3.2 - Create a collection named students, Insert a single document into the students collection with 5 key value pairs

student = {"first_name" : "Kevin", "last_name" : "Zhang", "middle_initial" : "V.", "year" : 2, "major" : "Computer Science"}

student_collection = db.student_collection #Created students collection and inserted student Kevin

post_id = student_collection.insert_one(student).inserted_id

In [20]:
client.list_database_names() #KevinZhang_class now shows up after document (student) inserted

['AlbertHuang_class',
 'DS2002Final',
 'DiegoMcgrath_class',
 'ElijahKim_class',
 'Emaan_class',
 'JackNickerson_class',
 'JamesDraudt_class',
 'KevinZhang_class',
 'Larissa_class',
 'MaxChang_class',
 'MiaArk_class',
 'SebastianWiktorowicz_class',
 'Siona_Pathak_class',
 'StoreProducts',
 'TenzinNargee_class',
 'ValynGrebe_class',
 'VarunPavuloori_class',
 '_class',
 'aidantan_class',
 'anagha_class',
 'anisha_class',
 'anne_class',
 'api_project',
 'blog',
 'eva_class',
 'grace_class',
 'kaylasprincis_class',
 'olivia_class',
 'project',
 'ronit_class',
 'rushvi_class',
 'sakila',
 'sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'sp_project2',
 'sutherland_class',
 'admin',
 'local']

In [15]:
db.list_collection_names() #students now show up as collection

['students']

In [21]:
#Exercise 3.3 - Insert multiple documents into the students collection in one operation

students_arr = [ #Inserted 2 students
    {"first_name" : "Rex", "last_name" : "Wang", "middle_initial" : "", "year" : 2, "major" : "Computer Science"},
    {"first_name" : "Albert", "last_name" : "Huang", "middle_initial" : "C.", "year" : 2, "major" : "Computer Science"},
]

student_collection.insert_many(students_arr)

InsertManyResult([ObjectId('6600e61fd3b0ad3e05c1b59d'), ObjectId('6600e61fd3b0ad3e05c1b59e')], acknowledged=True)

In [22]:
#Exercise 4.1 - Perform a query to find all documents in the students collection
all_students = student_collection.find()
for student in all_students:
  print(student)

{'_id': ObjectId('6600e609d3b0ad3e05c1b59c'), 'first_name': 'Kevin', 'last_name': 'Zhang', 'middle_initial': 'V.', 'year': 2, 'major': 'Computer Science'}
{'_id': ObjectId('6600e61fd3b0ad3e05c1b59d'), 'first_name': 'Rex', 'last_name': 'Wang', 'middle_initial': '', 'year': 2, 'major': 'Computer Science'}
{'_id': ObjectId('6600e61fd3b0ad3e05c1b59e'), 'first_name': 'Albert', 'last_name': 'Huang', 'middle_initial': 'C.', 'year': 2, 'major': 'Computer Science'}

In [23]:
#Exercise 4.2 - Perform a query to find a document in the students collection with a specific attribute
student_kevin = student_collection.find_one({"first_name": "Kevin"}) #Find student with first name Albert
print(student_kevin)

{'_id': ObjectId('6600e609d3b0ad3e05c1b59c'), 'first_name': 'Kevin', 'last_name': 'Zhang', 'middle_initial': 'V.', 'year': 2, 'major': 'Computer Science'}

In [24]:
#Exercise 5.1 - Update a specific document in the students collection.

student_collection.update_one({"first_name": "Albert"}, {"$set": {"middle_initial": "Q."}}) #Add middle initial C. to student with first name Steven
print(student_collection.find_one({"first_name": "Albert"}))

{'_id': ObjectId('6600e61fd3b0ad3e05c1b59e'), 'first_name': 'Albert', 'last_name': 'Huang', 'middle_initial': 'Q.', 'year': 2, 'major': 'Computer Science'}

In [25]:
#Exercise 5.2 - Update multiple documents based on a specific condition.

student_collection.update_many({"major": "Computer Science"}, {"$inc": {"year": 1}}) #If major is Computer Science, increase year by 1

for student in student_collection.find():
  print(student)

{'_id': ObjectId('6600e609d3b0ad3e05c1b59c'), 'first_name': 'Kevin', 'last_name': 'Zhang', 'middle_initial': 'V.', 'year': 3, 'major': 'Computer Science'}
{'_id': ObjectId('6600e61fd3b0ad3e05c1b59d'), 'first_name': 'Rex', 'last_name': 'Wang', 'middle_initial': '', 'year': 3, 'major': 'Computer Science'}
{'_id': ObjectId('6600e61fd3b0ad3e05c1b59e'), 'first_name': 'Albert', 'last_name': 'Huang', 'middle_initial': 'Q.', 'year': 3, 'major': 'Computer Science'}

In [ ]:
students_arr = [
    {"first_name" : "Grant", "last_name" : "Xiao", "middle_initial" : "", "year" : 2, "major" : "Computer Engineering"},
    {"first_name" : "Varun", "last_name" : "Yeruva", "middle_initial" : "", "year" : 2, "major" : "Computer Engineering"},
]

student_collection.insert_many(students_arr)

for student in student_collection.find():
  print(student)

{'_id': ObjectId('6600c17d2f9bf83ad19ebec4'), 'first_name': 'Albert', 'last_name': 'Huang', 'middle_initial': 'C.', 'year': 3, 'major': 'Computer Science'}
{'_id': ObjectId('6600c4142f9bf83ad19ebec5'), 'first_name': 'Varun', 'last_name': 'Yeruva', 'middle_initial': 'C.', 'year': 3, 'major': 'Computer Science'}
{'_id': ObjectId('6600c4142f9bf83ad19ebec6'), 'first_name': 'Steven', 'last_name': 'Chen', 'middle_initial': 'C.', 'year': 3, 'major': 'Computer Science'}
{'_id': ObjectId('6600c8c82f9bf83ad19ebec7'), 'first_name': 'Grant', 'last_name': 'Xiao', 'middle_initial': '', 'year': 2, 'major': 'Computer Engineering'}
{'_id': ObjectId('6600c8c82f9bf83ad19ebec8'), 'first_name': 'Rex', 'last_name': 'Wang', 'middle_initial': '', 'year': 2, 'major': 'Computer Engineering'}

In [26]:
#Exercise 6.1 - Delete a specific document from the students collection.
student_collection.delete_one({"first_name": "Varun"}) #Delete student with first name Varun

for student in student_collection.find():
  print(student)

{'_id': ObjectId('6600e609d3b0ad3e05c1b59c'), 'first_name': 'Kevin', 'last_name': 'Zhang', 'middle_initial': 'V.', 'year': 3, 'major': 'Computer Science'}
{'_id': ObjectId('6600e61fd3b0ad3e05c1b59d'), 'first_name': 'Rex', 'last_name': 'Wang', 'middle_initial': '', 'year': 3, 'major': 'Computer Science'}
{'_id': ObjectId('6600e61fd3b0ad3e05c1b59e'), 'first_name': 'Albert', 'last_name': 'Huang', 'middle_initial': 'Q.', 'year': 3, 'major': 'Computer Science'}

In [ ]:
#Exercise 6.2 - Delete multiple documents based on a specific condition.
student_collection.delete_many({"major": "Computer Engineering"}) #Delete if major is Computer Engineering

for student in student_collection.find():
  print(student)

{'_id': ObjectId('6600c17d2f9bf83ad19ebec4'), 'first_name': 'Albert', 'last_name': 'Huang', 'middle_initial': 'C.', 'year': 3, 'major': 'Computer Science'}
{'_id': ObjectId('6600c4142f9bf83ad19ebec5'), 'first_name': 'Varun', 'last_name': 'Yeruva', 'middle_initial': 'C.', 'year': 3, 'major': 'Computer Science'}